.content {
    position: relative;
    display: grid;
}

.content > * {
    grid-column: 2;
}

.content * {
    color: rgb(var(--foreground-rgb));
    overflow: auto;
}

@media (min-width: 80rem) {
    .content {
        border-radius: 8px;
    }
}